

  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= button_to({ action: 'show', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'eye', class: 'icon text-info' %>
      <% end %>
      <%= button_to({ action: 'edit', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'pencil', class: 'icon text-link' %>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
        <%= svg_tag 'trash', class: 'icon text-danger' %>
      <% end %>
    </div>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ controller: 'forms', record_id: model.id }, class: 'button is-small is-rounded is-primary') do %>
        <i class="fa-solid fa-list"></i>
        <span class="ml-1"><%= t('.forms.index.title') %></span>
      <% end %>
      <%= link_to({ controller: 'items', record_id: model.id }, class: 'button is-small is-rounded is-success') do %>
        <i class="fa-solid fa-list"></i>
        <span class="ml-1"><%= t('.items.index.title') %></span>
      <% end %>
    </div>
  </td>

