<td>
  <p><%= model.external_record_name %></p>
  <p><%= model.external_column_name %></p>
</td>
<td><%= model.name %></td>
<td>
  <p><%= model.record_name %></p>
  <p><%= model.column_name %></p>
</td>
<td>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :display, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>
<td>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :primary, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>
<td>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :modeling, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>
